* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #333;
}
h1 {
    text-align: center;
    color: rgb(87, 0, 0);
    font-family: sans-serif;
}
main {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #818181;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	text-align: center;
}
h4, h3 {
    color: rgb(87, 0, 0);
}
p {
    color: #5a5a5a;
}
button {
    background: #333;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 0px;
    width: 80px;
    height: 25px;
    border-radius: 19px;
    list-style: none;
    text-decoration: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
button:hover {
    color: red;
    transition: 2s;
    width: 90px;
    height: 30px;
}
a:hover {
    color: red;
    transition: 2s;
    width: 90px;
    height: 30px;
}
textarea {
    background: #ffffff8a;
    border-radius: 8px;
}
footer {
    position: absolute;
}
.rating {
    font-size: 0;
  }
  
  .star {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
  }
  
  .star:hover,
  .star:hover ~ .star,
  .star.active,
  .star.active ~ .star {
    color: orange;
  }
  .alert {
    display: none;
    background-color: #4CAF50;
    color: 0;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 250px;
   }
   
   .show {
    display: block;
   }